# Introduction to Python :D

In this notebook we will focus on the data types that you are most likely used to but these are the basic building blocks for more advanced concepts. So having a good understanding of these is crucial for programming. 

These data types are:

1. $\textbf{Numerical}$

    a. Integer
    
    b. Float


2. $\textbf{Boolean}$
    
    a. True
    
    b. False
    

3. $\textbf{String (Words/Characters)}$

## Data-Type Number 1: Numerical

In [1]:
print('5 is type:', type(5))
print()
print('3.14159 is type:', type(3.14159))
print()
print('12 is type:', type(12))
print()
print('12.34 is type:', type(12.34))
print()
print('15 is type:', type(15))
print()
print('23.432 is type:', type(24.432))
print()
print('0.5 is type:', type(.5))

5 is type: <class 'int'>

3.14159 is type: <class 'float'>

12 is type: <class 'int'>

12.34 is type: <class 'float'>

15 is type: <class 'int'>

23.432 is type: <class 'float'>

0.5 is type: <class 'float'>

In [2]:
print('12 is type:', type(12))
print()
print('12.34 is type:', type(12.34))
print()
print('12. is type:', type(12.))
print()
print('12.34 is type:', type(12.34))

12 is type: <class 'int'>

12.34 is type: <class 'float'>

12. is type: <class 'float'>

12.34 is type: <class 'float'>

## What can we do with Numerical Data?

In [3]:
#add

print(4+6)
print(4+6.)
print(4+12.7)

#subtract

print(4-6)
print(4-6.)
print(4-12.7)

#multiply

print(4*6)
print(4*6.)
print(4*12.7)

#divide

print(4/6)
print(4/6.)
print(4/12.7)

#raise to a power, note that this is different from lots of 
#other languanges which use ^ as the raising power operator

print(4**6)
print(4**6.)
print(4**12.7)

10
10.0
16.7
-2
-2.0
-8.7
24
24.0
50.8
0.6666666666666666
0.6666666666666666
0.31496062992125984
4096
4096.0
44275338.4654911

# Data-Type Number 2: Boolean

The next data type we will encounter is called Boolean, which is a fancy word for saying truth values and truth values can be either $\textbf{True}$ or $\textbf{False}$. Let us see what happens when we run the following cell and see what True and False evaluate to.

In [ ]:
#1. Direct assignment
MyVariable = True
Statement = False
News = True

In [4]:
4 = 0

SyntaxError: cannot assign to literal (<ipython-input-4-6055bb548576>, line 1)

In [5]:
#2. Evaluating Expressions
print(4 > 0)
print(4 < 0)
print(4 == 0)
print(4 != 0)

True
False
False
True

In [ ]:
#We can assign expression evaluations to variables
expression1 = 4 > 0
expression2 = 4 < 0
expression3 = 4 == 0
expression4 = 4 != 0

# Data-Type Number 3: String

The next data type is string and is pythons way of saying letters and words. You can store letters and words into python as a string and the way to do that is to use single or double quotation marks. 

These are used in all sorts of places in coding, especially when you are looking at data that comes from a table as you will need the file path to read in the contents of the file. These file paths are typically in the form of a string.

In [6]:
Name = 'Oscar'
type(Name)

str

In [7]:
Name1 = "Gene"
type(Name1)

str

In [8]:
Sentence = "I am learning Python, It is really fun :D!!!"
print(Sentence)

I am learning Python, It is really fun :D!!!

## Quick Pregunta

In [9]:
test = "9800"
print(type(test))

<class 'str'>