# 2. Containers, Loops and Conditionals

This notebook will cover three very related concepts that you will use as you code and do research. These are containers which have the capabilities of holding multiple values, Loops which allow you to access the contents of the containers and do some analysis on them and conditionals which are used to apply selection criteria on what section of code to run and execute given a certain criteria.

# The 3 Containers in Python

1. List
2. Tuples
3. Dictionaries

For this bootcamp we will be going over Lists, only but feel free to check out the container notebook where it covers Tuples and Dictionaries in more detail.

In [1]:
#how to define a list in python Square Brackets []
list_definition = []

#NOTE: this creates an empty list

In [2]:
list_definition

[]

In [3]:
#making a non-empty list with grocery items: strings only
list1 = ['Milk', 'Cheese', 'Cereal', 'Pasta', 'Vegetables']

In [4]:
#making a non-empty list with a mixture of data types

                    # Float  int   string  bool   bool    string
mix_and_match_list = [12.34, 213, 'Hello', True, False, 'Bye-Bye']

In [5]:
#making a list that contains numbers and list

              # float  float  int          List         float            List
list_in_list = [12.3, 242.34, 230, ['Hi', True, False], 43.22, [345.3454, 'Oscar', True, 452.34]]

## Accessing Values in a List

In [6]:
#getting pasta from my list
list1[3]

'Pasta'

In [8]:
#getting the first item in Number_list
mix_and_match_list[0]

12.34

In [9]:
#changing the third entry of list1 to coffee
list1[2] = 'Coffee'

In [10]:
list1

['Milk', 'Cheese', 'Coffee', 'Pasta', 'Vegetables']

In [11]:
#getting 3rd value in list_in_list
list_in_list[2]

230

# Loops

Loops are cool ways to access the content of list or to do a piece of code over and over again a certian number of times. 

For this bootcamp we will cover For-Loops but feel free to check out the notebook on Loops for While-Loops.

In [ ]:
# definition of a for loop, do NOT run cell will break
for 'item' in 'something_iterable':
    
    'Execute some code here!'

In [12]:
#For-Loop in action 

#defining a list here
x = ['Hello', 'I', 'am', 'Testing', 'a', 'For', 'Loop', ':D']


#starting a for-loop
for item in x:
    #as the for loop commences item the corresponding element of the iterable
    #first time around it will be "Hello"
    #second time is "I"
    #third time is "am"
    print(item)

Hello
I
am
Testing
a
For
Loop
:D

## Quick Pregunta

In [13]:
#What would the output be for this one?

for item in x:
    print(item)
    print()
    print(x)
    print('---------------')
    print()

Hello

['Hello', 'I', 'am', 'Testing', 'a', 'For', 'Loop', ':D']
---------------

I

['Hello', 'I', 'am', 'Testing', 'a', 'For', 'Loop', ':D']
---------------

am

['Hello', 'I', 'am', 'Testing', 'a', 'For', 'Loop', ':D']
---------------

Testing

['Hello', 'I', 'am', 'Testing', 'a', 'For', 'Loop', ':D']
---------------

a

['Hello', 'I', 'am', 'Testing', 'a', 'For', 'Loop', ':D']
---------------

For

['Hello', 'I', 'am', 'Testing', 'a', 'For', 'Loop', ':D']
---------------

Loop

['Hello', 'I', 'am', 'Testing', 'a', 'For', 'Loop', ':D']
---------------

:D

['Hello', 'I', 'am', 'Testing', 'a', 'For', 'Loop', ':D']
---------------

# Conditional Statements

In [ ]:
#python syntax for if-else Statement, do NOT run cell
if 'Some Condition to Check':
    
    #Note the indentation to denote the code is inside If-Statement
    
    'Code to run if the condition is True'
else:
    
    #Note the indentation to denote code is inside Else-Statement
    'Code to run if the condition is False'

In [15]:
MoneyAvailable = 200

price = 190

if MoneyAvailable > price:
    print('I may buy it')
else:
    print('I cannot buy it')

I may buy it

In [ ]:
#syntax for Elif-Statement, do NOT run cell
if condition1:
    #do this code
elif condition2:
    #do this other code
elif condition3:
    #do this next code
else:
    #if everything failed then do this code

In [16]:
number = 100

if number < 50:
    print('Number below 50')

elif number < 75:
    print('Number below 75')

else:
    print('Number greater than 75')

Number greater than 75

# Using them all together

In [17]:
#making a list of numbers
my_list = [12, 34, 55, 56, 87, 11, 123, 345, 3434, 22334, 1232, 3243423, 90498474]

#making empty list to store even and odd numbers
even_numbers = []
odd_numbers = []

#defining the for loop
for element in my_list:
    
    #condition to check if it is even or odd
    if element % 2 == 0:
        
        even_numbers.append(element)
        
    else: 
        
        odd_numbers.append(element)

In [18]:
odd_numbers

[55, 87, 11, 123, 345, 3243423]

In [19]:
even_numbers

[12, 34, 56, 3434, 22334, 1232, 90498474]